    @import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,700');
    .container {
        font-family: 'Montserrat', sans-serif;
    }
    
    * {
        margin: 0;
        padding: 0;
    }
    
    .container {
        width: 1366px;
        margin: 0 auto;
    }
    
    .header {
        height: 800px;
        background-image: url(img/slider-img.jpg);
        position: relative;
    }
    
    .header .logo {
        float: left;
        margin-top: 63px;
        margin-left: 98px;
    }
    
    .menu {
        float: right;
        margin-top: 67px;
        margin-right: 211px;
    }
    
    .menu li {
        float: left;
        list-style-type: none;
    }
    
    .menu li a {
        text-decoration: none;
        display: block;
        padding: 0 20px;
        color: #8c8c8c;
        font-size: 14px;
        font-weight: 300;
        line-height: 48px;
    }
    
    img[alt="search"] {
        position: absolute;
        right: 167px;
        top: 80px;
        width: 23px;
        height: 23px;
    }
    
    .menu li a:hover {
        color: #212121;
        border-bottom: 1px solid #212121;
    }
    
    .text {
        width: 458px;
        margin-left: 98px;
        margin-top: 260px;
        float: left;
    }
    
    .text h3 {
        color: #43a047;
        font-size: 18px;
        font-weight: 700;
        line-height: 48px;
        margin-bottom: 22px;
    }
    
    .text h1 {
        margin-bottom: 34px;
        padding-left: 8px;
        font-size: 57px;
        color: #212121;
        font-weight: 100;
        line-height: 72px;
        text-transform: uppercase;
    }
    
    .text p {
        margin-bottom: 32px;
        color: #6c6c6c;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
    }
    
    .text a {
        display: block;
        width: 212px;
        height: 45px;
        box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
        border-radius: 23px;
        background: #ffffff;
        text-decoration: none;
        text-align: center;
        line-height: 45px;
        color: #212121;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
    }
    
    .text a:hover {
        background: #ffffff url(img/arrow.png) no-repeat 173px 16px;
    }
    
    img[alt="navi"] {
        position: absolute;
        top: 741px;
        left: 623px;
    }
    
    img[alt="active"] {
        position: absolute;
        top: 741px;
        left: 663px;
    }
    
    .featured {
        float: left height: 800px;
    }
    
    .menu_2 {
        padding-top: 120px;
        padding-left: 107px;
        float: left;
    }
    
    .menu_2 li {
        list-style-type: none;
        float: left;
    }
    
    .menu_2 li a {
        text-decoration: none;
        color: #6c6c6c;
        margin-right: 31px;
        font-size: 36px;
        font-weight: 700;
    }
    
    .menu_2 li a:hover {
        color: #212121;
        font-size: 36px;
        border-bottom: 2px solid #212121;
    }
    
    .exp {
        padding-top: 138px;
        padding-right: 118px;
    }
    
    .exp a {
        float: right;
        text-decoration: none;
        height: 16px;
        width: 170px;
        color: #212121;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        background: #ffffff;
    }
    
    .exp a:hover {
        background: #ffffff url(img/arrow.png) no-repeat 147px 4px;
    }
    
    .product {
        float: left;
    }
    
    .product_1 {
        float: left;
        margin-top: 50px;
        margin-left: 98px;
        margin-right: 30px;
        width: 270px;
        height: 270px;
        position: relative;
    }
    
    .product_2 {
        float: left;
        margin-top: 50px;
        margin-right: 30px;
        width: 270px;
        height: 270px;
        position: relative;
    }
    
    .product_3 {
        float: left;
        margin-top: 50px;
        margin-right: 30px;
        width: 270px;
        height: 270px;
        position: relative;
    }
    
    .product_4 {
        float: left;
        margin-top: 50px;
        margin-right: 30px;
        width: 270px;
        height: 270px;
        position: relative;
    }
    
    .hover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid #9c9c9c;
        background-color: #ffffff;
        opacity: 0.9;
        display: none;
    }
    
    .hover a {
        float: left;
        width: 48px;
        height: 48px;
        box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
        border-radius: 24px;
        background-color: #ffffff;
        margin-left: 111px;
        margin-top: 62px;
        margin-bottom: 19px;
        text-align: center;
        line-height: 3.5;
    }
    
    .hover h4 {
        float: left;
        margin-left: 63px;
        margin-bottom: 23px;
        color: #212121;
        font-size: 22px;
        font-weight: 700;
        line-height: 29.88px;
    }
    
    .hover p {
        float: left;
        margin-left: 32px;
        color: #6c6c6c;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
    }
    
    .product_1:hover .hover {
        display: block;
    }
    
    .product_2:hover .hover {
        display: block;
    }
    
    .product_3:hover .hover {
        display: block;
    }
    
    .product_4:hover .hover {
        display: block;
    }
    
    .exclusive_1 {
        float: left;
        background-image: url(img/promo-img1.jpg);
        height: 683px;
        width: 683px;
        margin-top: 120px;
    }
    
    .exclusive_2 {
        float: left;
        background-image: url(img/promo-img.jpg);
        height: 683px;
        width: 683px;
        margin-top: 120px;
    }
    
    .text_2 {
        width: 374px;
        padding-left: 50px;
        padding-top: 228px;
    }
    
    .text_2 h3 {
        color: #1e88e5;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        padding-bottom: 18px;
    }
    
    .text_2 h1 {
        color: #212121;
        font-size: 36px;
        font-weight: 700;
        padding-bottom: 24px;
    }
    
    .text_2 p {
        width: 374px;
        color: #6c6c6c;
        line-height: 24.04px;
        font-size: 14px;
        font-weight: 300;
        padding-bottom: 34px;
    }
    
    .text_2 a {
        display: block;
        width: 212px;
        height: 45px;
        box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
        border-radius: 23px;
        background: #ffffff;
        text-decoration: none;
        text-align: center;
        line-height: 45px;
        color: #212121;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
    }
    
    .text_2 a:hover {
        background: #ffffff url(img/arrow.png) no-repeat 173px 16px;
    }
    
    .trending {
        height: 1100px;
        float: left;
    }
    
    .title {
        float: left;
        color: #212121;
        font-size: 36px;
        font-weight: 700;
        margin-top: 119px;
        margin-left: 98px;
    }
    
    .exp_1 {
        margin-top: 137px;
        margin-right: 118px;
    }
    
    .exp_1 a {
        float: right;
        text-decoration: none;
        height: 16px;
        width: 160px;
        color: #212121;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        background: #ffffff;
    }
    
    .exp_1 a:hover {
        background: #ffffff url(img/arrow.png) no-repeat 147px 4px;
    }
    
    .catalog {
        clear: both;
    }
    
    .product_5 {
        float: left;
        padding-top: 64px;
        margin-left: 98px;
        margin-right: 30px;
    }
    
    .product_6 {
        float: left;
        padding-top: 64px;
        margin-right: 30px;
    }
    
    .product_7 {
        float: left;
        padding-top: 64px;
        margin-right: 30px;
    }
    
    .product_8 {
        float: left;
        padding-top: 64px;
        margin-left: 98px;
        margin-right: 30px;
    }
    
    .product_9 {
        float: left;
        padding-top: 64px;
        margin-right: 30px;
    }
    
    .product_10 {
        float: left;
        padding-top: 64px;
        margin-right: 30px;
    }
    
    .hot {
        clear: both;
        height: 800px;
        background-image: url(img/slider.jpg);
        position: relative;
    }
    
    .text_3 {
        width: 458px;
        padding-left: 99px;
        padding-top: 287px;
    }
    
    .text_3 h3 {
        color: #e53935;
        font-size: 18px;
        font-weight: 700;
        line-height: 48px;
        text-transform: uppercase;
        padding-bottom: 20px;
    }
    
    .text_3 h1 {
        color: #212121;
        font-size: 57px;
        font-weight: 400;
        line-height: 72px;
        text-transform: uppercase;
        padding-bottom: 34px;
    }
    
    .text_3 p {
        width: 458px;
        color: #6c6c6c;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        padding-bottom: 32px;
    }
    
    .text_3 a {
        display: block;
        width: 212px;
        height: 45px;
        box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
        border-radius: 23px;
        background: #ffffff;
        text-decoration: none;
        text-align: center;
        line-height: 45px;
        color: #212121;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
    }
    
    .text_3 a:hover {
        background: #ffffff url(img/arrow.png) no-repeat 173px 16px;
    }
    
    exlusive_3 {}
    
    .exlusive_4 {
        height: 570px;
        width: 570px;
        background-image: url(img/product-1-lg.jpg);
        margin-top: 120px;
        margin-left: 98px;
        float: left;
    }
    
    .product_11 {
        float: left;
        margin-left: 30px;
        margin-top: 120px;
    }
    
    .product_12 {
        float: left;
        margin-left: 30px;
        margin-top: 120px;
    }
    
    .product_13 {
        float: left;
        margin-left: 30px;
        margin-top: 28px;
    }
    
    .product_14 {
        float: left;
        margin-left: 30px;
        margin-top: 28px;
    }
    
    .text_4 {
        width: 332px;
        padding-left: 30px;
        padding-top: 186px;
    }
    
    .text_4 h3 {
        color: #1e88e5;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        padding-bottom: 18px;
    }
    
    .text_4 h1 {
        color: #212121;
        font-size: 36px;
        font-weight: 700;
        padding-bottom: 24px;
    }
    
    .text_4 p {
        width: 332px;
        color: #6c6c6c;
        line-height: 24.04px;
        font-size: 14px;
        font-weight: 300;
        padding-bottom: 34px;
    }
    
    .text_4 a {
        display: block;
        width: 212px;
        height: 45px;
        box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
        border-radius: 23px;
        background: #ffffff;
        text-decoration: none;
        text-align: center;
        line-height: 45px;
        color: #212121;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
    }
    
    .text_4 a:hover {
        background: #ffffff url(img/arrow.png) no-repeat 173px 16px;
    }
    
    .footer {
        float: left;
        margin-top: 120px;
        height: 930px;
        position: relative;
        background-color: #f7f7f7;
    }
    
    .mobile {
        float: left;
        height: 516px;
        width: 1366px;
        background-image: url(img/back-img.jpg);
    }
    
    .conect {
        margin-top: 125px;
        margin-left: 99px;
    }
    
    .conect h3 {
        color: #6c6c6c;
        font-size: 18px;
        font-weight: 700;
        line-height: 48px;
        text-transform: uppercase;
        padding-bottom: 22px;
    }
    
    .conect h1 {
        color: #212121;
        width: 407px;
        font-size: 52px;
        font-weight: 400;
        line-height: 72px;
        text-transform: uppercase;
        margin-left: 7px;
        padding-bottom: 26px;
    }
    
    .conect p {
        width: 413px;
        padding-bottom: 33px;
        color: #6c6c6c;
        font-size: 21px;
        font-weight: 300;
        line-height: 24px;
    }
    
    .conect a {
        margin-right: 10px;
    }
    
    .contact {
        float: left;
        width: 221px;
        margin-top: 120px;
        margin-left: 99px;
    }
    
    .contact h3 {
        color: #6c6c6c;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        margin-bottom: 24px;
    }
    
    .contact p {
        color: #212121;
        font-size: 13px;
        font-weight: 400;
        line-height: 22px;
    }
    
    .information {
        float: left;
        margin-top: 120px;
        margin-left: 80px;
    }
    
    .information h3 {
        color: #6c6c6c;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        padding-bottom: 25px;
    }
    
    .one {
        float: left;
        width: 132px;
        margin-right: 103px;
    }
    
    .two {
        float: left;
        width: 187px;
    }
    
    .one a {
        color: #212121;
        font-size: 14px;
        font-weight: 700;
        line-height: 26px;
        text-transform: uppercase;
        text-decoration: none;
    }
    
    .two a {
        color: #212121;
        font-size: 14px;
        font-weight: 700;
        line-height: 26px;
        text-transform: uppercase;
        text-decoration: none;
    }
    
    .touch {
        float: left;
        width: 363px;
        margin-top: 120px;
        margin-left: 78px;
    }
    
    .touch h3 {
        color: #6c6c6c;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        margin-bottom: 24px;
    }
    
    .touch p {
        color: #212121;
        width: 363px;
        font-size: 13px;
        font-weight: 400;
        line-height: 22px;
        margin-bottom: 26px;
    }
    
    input[type="email"] {
        height: 48px;
        width: 370px;
        border: 1px solid #d9dee1;
        background-color: #ffffff;
    }
    
    input[placeholder="your email address"] {
        padding-left: 19px;
        color: #6c6c6c;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
    }
    
    .form {
        position: relative;
    }
    
    img[alt="sms"] {
        position: absolute;
        top: 16px;
        left: 350px;
    }
    
    .footer .three {
        float: left;
        margin-top: 77px;
        margin-left: 98px;
        color: #6c6c6c;
        font-size: 12px;
        font-weight: 700;
        line-height: 26px;
        text-transform: uppercase;
    }
    
    .four a {
        float: right;
        color: #6c6c6c;
        margin-top: 77px;
        margin-right: 97px;
        font-size: 12px;
        font-weight: 700;
        line-height: 26px;
        text-transform: uppercase;
        text-decoration: none;
    }
    
    img[alt="social"] {
        position: absolute;
        left: 618px;
        top: 880px;
    }